.nav-bar {
    background-color: var(--primary-color); 

  }
  
  .nav-bar .nav-link {
    color: white 
  }
  
  .nav-bar .nav-link:hover {
    color: #ddd 
  }

  /* Style for active links */
  .nav-link.active {
    color: #ffae42 !important; 
  }
  
  /* Hover effect for links */
  .nav-link:hover {
    color: your-hover-color !important; /* Replace with your desired hover color */
  }